{% extends 'form.html' %}
{% load crispy_forms_tags %}
<!-- Register Form -->
{% block content %}
  <div class="container w-50 my-5 mx-auto p-0 shadow-md border rounded-3 bg-white">
    <h2 class="card-header bg-success text-white text-center py-3 mb-4 border-bottom border-2 shadow-sm">Create Account</h2>
    <form class="m-5" method="POST">
      {% csrf_token %}
      
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <fieldset class="form-group">
         <button class="btn-dark fs-4 mt-4 py-3 px-5 rounded-pill float-end" type="submit">Register</button>
      </fieldset>
      
    </form>
  </div>
  
  <!-- To login Form -->
  <div class="container-sm bg-white border rounded-3 p-3 text-center">
    <p class="fs-4">Already have an account? click this to <a class="pe-auto" href="{% url 'login-page' %}">Log In</a></p>
       
    </div>
{% endblock %}