{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h2 class="card-header bg-dark text-white text-center p-4 border-bottom border-2 shadow-sm">Your Tasks</h2>
  <!-- Task container -->
  {% for post in posts %}
  {% if post.author == user %}
    
    <div class="card bg-white m-5 shadow">
      <small class="card-header bg-dark text-light text-start">{{ post.date_created }}</small>
      <div class="card-body">
        <h5 class="card-title fs-3">{{ post.title }} </h5>
        <p class="card-text border border-2 bg-light p-3">{{ post.content }}</p>
      <div class="card-footer d-flex justify-content-end bg-white border-top border-2">
        <a href="{% url 'update' post.id %}"><button type="button" class="btn btn-success px-4">Update</button></a>
        <a href="{% url 'delete' post.id %}"><button type="button" class="btn btn-danger mx-3 px-4">Delete</button></a>
      </div>
      </div>
    </div>
    
  {% endif %}
  {% endfor %}
    
    
  
  <!-- Add new task modal -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Task</button>
            </div>
        
          </form>
        </div>
        
      </div>
    </div>
  </div>



  <div class="modal-footer">
      <button class="btn btn-dark text-light fs-3 rounded-3 px-4 py-3 m-5 shadow-lg position-relative bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#exampleModal">New Task</button>
  </div>

  
{% endblock %}