{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h2 class="text-primary text-start my-4 mx-5">Todo Tasks</h2>
  <!-- Task container -->
  {% for post in posts %}
  {% if post.author == user %}
    <div class="p-4 border border-3 shadow-sm rounded-3 m-3 bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal2">
      <small class="text-muted float-start">{{ post.date_created }}</small>
      <br>
      <h3 class="">{{ post.title }}</h3>
    </div>
   {% else %}
    <h1 class="d-none">There are currently no tasks</h1>
  {% endif %}
  {% endfor %}
    
    
  
  <!-- Add new task modal -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Task</button>
            </div>
        
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Modal for update and delete -->
  
  <div class="modal fade" id="exampleModal2" tabindex="-2" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete Task</button>
          
        </div>
      </div>
    </div>
  </div>



  <div class="modal-footer">
      <button class="btn btn-dark text-light fs-3 rounded-3 px-4 py-3 m-5 shadow-lg position-relative bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#exampleModal">New Task</button>
  </div>

  
{% endblock %}